<footer class="footer">

    <section class="footerContainer">

        <article class="footerBlock">
            <h4 class="footerTitle">Materia</h4>
            <p class="pFooter">Programación 2</p>
        </article>

        <article class="footerBlock">
            <h4 class="footerTitle">Grupo 1</h4>
        </article>

        <article class="footerBlock">
            <h4 class="footerTitle">Integrantes</h4>
            <ul class="footerList">
                <li>Lucas García Devesa</li>
                <li>Julian Marot</li>
            </ul>
        </article>

    </section>

</footer>