<% for (let i = 0; i < productos.length; i++) { %>
    <a href="product.ejs">
        <figure class="product-box_image">
            <img src="images/products/default-image.png" alt="cafetera moulinex">
        </figure>
        <article class="product-box_data">
            <h2>Nombre: <%= productos.name %>
            </h2>
            <p>Descripción: <%= productos.description %>
            </p>
            <p>Precio: $<%= productos.price %>
            </p>
        </article>
    </a>
    <% } %>